*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: #1b1919;
  padding: 0 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.page {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  gap: 30px;
  min-width: 1140px;
}

.result {
  align-self: flex-end;
}

.search-form {
  min-height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.search-form__fieldset:nth-child(2) {
  /* Выравнивание чекбоксов для соответствия макету */
  align-self: center;
}

.content__list-container {
  height: 298px;
  overflow: auto;
  width: 399px;
  position: relative;
}

.content__details {
  height: 100%;
  width: 100%;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  max-width: 390px;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: cover;
  object-position: center;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 5px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 90%;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__card-link {
  text-decoration: none;
  color: white;
  display: block;
}

.content__video-card-description-container {
  max-width: 196px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%; /* можно сделать 120% потому что при 100% обрубается буква У и кратка над Й */
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 6px;
}

.content__video-card-description {
  line-height: 90%;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  width: 225px;
  padding: 2.5px 0;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(input:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  background-color: transparent;
  border: 1px solid white;
  position: relative;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: none;
  background-color: white;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 1px;
  left: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after,
.search-form__checkbox:active + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:active .search-form__label-text {
  text-decoration: none;
}

.search-form__label:has(input[type="checkbox"]) {
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700;
  cursor: pointer;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 99%;
  margin-top: 30px;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__list-item {
  padding: 1px 3px 0; /* Добавил 1px сверху, что  бы у первой карточки не пропадала верхняя обводка*/
}

.content__card-link:hover {
  text-decoration: underline;
}
.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible .content__video-card {
  outline: 1px solid white;
}
